---
import Layout from "@/layouts/main.astro"
import { DietSelector } from "@/components/day-selector"
---

<Layout>
  <div class="flex min-h-svh p-6">
    <div class="flex max-w-md min-w-0 flex-col gap-4 text-sm leading-loose">
      <div>
        <h1 class="font-medium">Dieta</h1>
        <DietSelector client:load />
      </div>
    </div>
  </div>
</Layout>
