---
import Layout from "@/layouts/main.astro"
import { DietSelector } from "@/components/diet-selector"
---

<Layout>
  <div class="flex min-h-svh p-6">
    <div class="flex w-full max-w-lg min-w-0 flex-col gap-3 text-sm leading-loose mx-auto">
      <DietSelector client:load />
    </div>
  </div>
</Layout>
